<launch>

    <node name="boat_tf2_broadcaster" type="boat_tf2_broadcaster" pkg="usv_ros" />

    <node name="dynamic_model" type="dynamic_model" pkg="usv_ros" />

    <arg name="model" default="$(find usv_ros)/urdf/boat.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
